<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Pokemon</title>
  </head>
  <body>
    <h1>Edit <%= pokemon.name %></h1>
    <p><a href="/pokemon">back</a></p>
    <hr>

  </body>
</html>
