<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><a href="/pokemon">Back</a></p>
    <h1><%= onePokemon.pname %></h1>
    <h3>Combat Power: <%= onePokemon.pcp %></h3>
    <h3>In Gym: <%= onePokemon.pingym %></h3>
    <h3>Trainer: <%= onePokemon.tname %></h3>

    <h4></h4>
  </body>
</html>
