/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(//fonts.googleapis.com/css?family=Passion+One);
body{
  background-image: url('../img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #72A366;
}
.box{
  background-color: rgba(255,255,255,0.9);
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 3%;
  border: 1px solid #f9f9f9;
  border-radius: 15px;
}
thead{
  font-size: 14px;
  font-weight: bold;
}
tbody{
  font-size: 12px;
}
.page-title{
  text-align: center;
}
.page-title h3{
  font-family: "Passion One";
  color: #fff;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #a207a7;
  text-transform: uppercase;
}

.top-bar{
  text-align: center;
  margin-top: 10px;
  margin-bottom: -25px;
}

.back{
  font-size: 10px;
  text-align: center;
}

/* footer */
.footer{
  background-color: #46743b;
}

.by{
  font-size: 13px;
  padding: 15px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

a{
  color: #000;
}
.winner{
  text-align: center;
  text-transform: uppercase;
}
#winner-name{
  text-align: center;
  color: #008b16;
}
.battle{
  text-align: center;
}

.action-error{
  text-align: center;
}
.vs h5{
  color: #ff0000;
  font-family: "Passion One";
  letter-spacing: 2px;
}
#same-player-error{
  color: #ff0000;
}
.gym{
  text-align: center;
}
.players{
  text-transform: uppercase;
}
#pn{
  width: 50%;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #2f2f2f;
  color: #000;
  background-color: #fff;
  padding-left: 1%;
  font-size: 14px;
}
#pcp{
  width: 50%;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #2f2f2f;
  color: #000;
  background-color: #fff;
  padding-left: 1%;
  font-size: 14px;
}

.p-info{
  text-align: center;
}
.trainer-pokemon{
  text-align: center;
}


#epn{
  width: 50%;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #2f2f2f;
  color: #000;
  background-color: #fff;
  padding-left: 1%;
  font-size: 14px;
}
#ecp{
  width: 50%;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #2f2f2f;
  color: #000;
  background-color: #fff;
  padding-left: 1%;
  font-size: 14px;
}

label{
  color: #000;
}
.browser-default{
  width: 50%;
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {
  #logo{
    width: 50%;
    height: auto;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
